/* spacing and orientation */

table.board {
  table-layout: fixed;
  margin-left:auto; 
  margin-right:auto;
  margin-top:40px;
  border: 5px solid maroon;
  padding: 5px;
}

table.player-tiles {
  table-layout: absolute;
  margin-left:auto; 
  margin-right:auto;
  margin-top:2vh;
  bottom:0px;
  border:5px solid #3F250B;
  padding:2px;
}


/* coloring of tiles */
td {
  width:5vh;
  height:5vh;
  background:beige;
}


/* triple word score square*/
td.tw {
	background:red;
}

/* double word score square*/
td.dw {
	background:pink;
}

/* double letter score square*/
td.dl {
	background:lightcyan;
}

/* triple letter score square*/
td.tl {
	background: skyblue;
}

/* center square*/
td.center {
	background:pink;
}


td.player-tile {
	font-size:3vh;
}

/* so the squares recieving tiles are all 
big enough that things can be dragged and dropped */
div.dropzone {
  width:4vh;
  height:4vh;
  text-align: center;
}



/* typography */

html {
  font-family: 'Montserrat', sans-serif;
}


tbody td {
  text-align: center;
  font-size: 1vh;
}


