<!DOCTYPE html>
<html>
<head>
	<title>
		Scrabble!
	</title>

	<!-- connect CSS file to style page --> 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">

	<!-- font I'm using for the board -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
	<table class='board'>
	{% for i in range(15) %}
		<tr>

		{% for j in range(15) %}

			{% if i == 7 and j == 7 %}
				<td class='center' id="square_number_{{15*i + j}}">
					<div class="dropzone">
						{{ currBoard[i][j] }}
					</div>
				</td>

			{% elif currBoard[i][j] == 'TRIPLE\nWORD\nSCORE' %}
				<td class='tw' id="square_number_{{15*i + j}}">
					<div class="dropzone">
						{{ currBoard[i][j] }}
					</div>
				</td>

			{% elif currBoard[i][j] == 'TRIPLE\nLETTER\nSCORE' %}
				<td class='tl' id="square_number_{{15*i + j}}">
					<div class="dropzone">
						{{ currBoard[i][j] }}
					</div>
				</td>

			{% elif currBoard[i][j] == 'DOUBLE\nWORD\nSCORE' %}
				<td class='dw' id="square_number_{{15*i + j}}">
					<div class="dropzone">
						{{ currBoard[i][j] }}
					</div>
				</td>

			{% elif currBoard[i][j] == 'DOUBLE\nLETTER\nSCORE' %}
				<td class='dl' id="square_number_{{15*i + j}}">
					<div class="dropzone">
						{{ currBoard[i][j] }}
					</div>
				</td>

			{% else %}
				<td id="square_number_{{15*i + j}}"> 
					<div class="dropzone">
						{{ currBoard[i][j] }}
					</div>
				</td>

			{% endif %}

		{% endfor %}
		</tr>

	{% endfor %}
	</table>
	<table class='player-tiles' >
		{% for i in range(7) %}
			<td class='player-tile' >
				<div class="dropzone">
					<div class="draggable">
						{{letters[i]}}
					</div>
				</div>
			</td>
		{% endfor %}
	</table>


	<!-- using Shopify's Draggable library -->
	<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js"> </script>
	<script type="text/javascript">
		let dropzones = document.querySelectorAll('.dropzone');
 
		let droppable = new Draggable.Droppable(
		  dropzones,
		  {
		    draggable: '.draggable',
		    dropzone:  '.dropzone',
		    mirror:    { constrainDimensions: true }
		  }
		);
	</script>

</body>

</html>

